body{

background:#202124;

font-family:Arial;

color:white;

margin:0;

padding:30px;

}

.container{

max-width:500px;

margin:auto;

background:#2d2d2d;

padding:25px;

border-radius:15px;

box-shadow:0px 0px 20px rgba(0,0,0,.4);

}

h1{

text-align:center;

color:#4CAF50;

}

h2{

text-align:center;

margin-bottom:20px;

}

label{

display:block;

margin-top:15px;

}

input,select{

width:100%;

padding:12px;

font-size:16px;

margin-top:5px;

border:none;

border-radius:8px;

box-sizing:border-box;

}

button{

margin-top:25px;

width:100%;

padding:15px;

font-size:18px;

background:#4CAF50;

border:none;

border-radius:8px;

color:white;

cursor:pointer;

}

button:hover{

background:#3fa545;

}

.result{

margin-top:30px;

font-size:20px;

}

.checkbox{

margin-top:20px;

display:flex;

align-items:center;

gap:10px;

}

.checkbox input{

width:auto;

}

#warning{

font-weight:bold;

margin-top:10px;

}

@media(max-width:600px){

body{

padding:15px;

}

}
