/* ===========================
   Electronics Toolkit
   Style Sheet 3rd version nihgt
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:#EAF6FF;

    color:#2C3E50;

    padding:30px;

}

/* Main Container */

.container{

    max-width:1200px;

    margin:auto;

}

/* Header */

header{

    text-align:center;

    margin-bottom:30px;

}

header h1{

    font-size:38px;

    color:#355C7D;

}

.subtitle{

    margin-top:8px;

    font-size:18px;

    color:#666;

}

/* Two Column Layout */

.main-grid{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:25px;

}

/* Cards */

.card{

    background:white;

    border-radius:15px;

    padding:25px;

    box-shadow:0px 8px 20px rgba(0,0,0,0.12);

}

.card h2{

    margin-bottom:20px;

    color:#355C7D;

}

/* Labels */

label{

    display:block;

    margin-top:18px;

    margin-bottom:6px;

    font-weight:bold;

}

/* Inputs */

input{

    width:100%;

    padding:12px;

    border:1px solid #CFCFCF;

    border-radius:8px;

    font-size:16px;

    outline:none;

}

input:focus{

    border-color:#355C7D;

}

/* Resistor Input Row */

.input-row{

    display:flex;

    gap:10px;

}

.input-row input{

    flex:1;

}

select{

    width:110px;

    border-radius:8px;

    border:1px solid #CFCFCF;

    padding:12px;

    font-size:15px;

    background:white;

}

/* Checkbox */

.checkbox{

    display:flex;

    align-items:center;

    gap:10px;

    margin-top:20px;

    font-weight:bold;

}

.checkbox input{

    width:auto;

}

/* Divider */

hr{

    margin-top:25px;

    margin-bottom:20px;

    border:none;

    border-top:1px solid #DDDDDD;

}

/* Button */

button{

    width:100%;

    margin-top:25px;

    padding:15px;

    font-size:18px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    background:#D8C3A5;

    color:#2C3E50;

    font-weight:bold;

    transition:0.25s;

}

button:hover{

    background:#C7AE88;

}

/* Results */

.result-box{

    display:flex;

    flex-direction:column;

    gap:20px;

}

.result-item{

    background:#FFF8ED;

    border-left:6px solid #D8C3A5;

    border-radius:10px;

    padding:18px;

}

.result-item span{

    color:#666;

    font-size:15px;

}

.result-item h3{

    margin-top:8px;

    font-size:28px;

    color:#2C3E50;

}

/* Warning */

#warning{

    font-size:22px;

}

/* Mobile */

@media(max-width:900px){

.main-grid{

grid-template-columns:1fr;

}

body{

padding:15px;

}

header h1{

font-size:30px;

}

.result-item h3{

font-size:22px;

}

}
